<form
  #ngForm="ngForm"
  [formGroup]="vetFormGroup"
  (ngSubmit)="onSubmit()"
  *ngIf="vetFormGroup"
>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput formControlName="lastName" />
    <mat-error
      *ngIf="ngForm.submitted && vetFormGroup.get('lastName').errors?.['required']"
    >
      Ce champ est requis.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput formControlName="firstName" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="ngForm.submitted && firstNameCtrl.errors?.['required']">
      Ce champ est requis.
    </mat-error>
  </mat-form-field>

  <button type="submit">Enregistrer</button>
</form>
