/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

$primary-palette: mat.define-palette(mat.$indigo-palette);

a {
  margin: 0 4px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat.get-color-from-palette($primary-palette, 100);
}
